<template>
	<form @submit.prevent="saveTask">
		<h3>{{isEditMode ? 'Edit' : 'Add New'}} Task</h3>
		<p :class="{'has-error': errors && errors.description}">
			<label for="description">Description</label>
			<span
				v-if="errors && errors.description"
				class="error-message"
			>{{errors.description}}</span>

			<textarea v-model.trim="description" id="description"></textarea>
		</p>

		<p :class="{'has-error': errors && errors.dueDate}">
			<label for="dueDate">Due Date</label>
			<span
				v-if="errors && errors.dueDate"
				class="error-message"
			>{{errors.dueDate}}</span>

			<datepicker v-model="dueDate" id="dueDate"></datepicker>
		</p>

		<footer>
			<button
				type="submit"
				:disabled="!isChanged"
			>Save</button>

			<button
				type="button"
				class="alert-btn"
				@click="$emit('cancel')"
			>Cancel</button>
		</footer>

		<button
			type="button"
			class="alert-btn small-alert-btn"
			@click="$emit('cancel')"
		>&times</button>
	</form>
</template>

<script>
	import Datepicker from 'vuejs-datepicker';

	export default {
		props: {
			task: Object,
			errors: Object
		},
		data () {
			return {
				description: this.task ? this.task.description : '',
				dueDate: this.task ? this.task.dueDate : new Date()
			}
		},
		computed: {
			isEditMode () {
				return this.task
			},
			isChanged () {
				if (this.isEditMode) {
					return this.description !== this.task.description || this.dueDate !== this.task.dueDate;
				}
				return this.description !== '' || this.dueDate !== '';
			}
		},
		methods: {
			cancel() {
				this.$emit('cancel');
			},
			saveTask() {
				const eventAction = this.isEditMode ? 'update' : 'save';

				this.$emit(eventAction, {
					description: this.description,
					dueDate: this.dueDate
				})
			}
		},
		components: {
			Datepicker
		}
	}
</script>

<style lang="scss" scoped>
	form{
		position: relative;
		border: 1px solid #595959;
		background-color: #aaa;
		width: 320px;
		margin: auto;
		padding: 25px 15px;

		h3{
			margin-top: 0;
			padding: 10px 0;
			text-align: center;
			background-color: #bbb;
			text-transform: uppercase;
		}
		footer {
			margin-top: 40px;
			button:not(:last-child){
				margin-bottom: 15px;
			}
		}

		.small-alert-btn{
			position: absolute;
			top: -.5em;
			right: -.5em;
			width: 2em;
		}
	}
</style>
